Repository xd88021as/nestjs-RESTful-API: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path ./.prettierignore --write, prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma

fix: update package
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path ./.prettierignore --write

fix(shared): update libs/shared/data-access/user
  libs/shared/data-access/user/src/lib/dto/user-query.dto.ts
Due: none

fix: update README
  README.md
Due: none

feat(api): update libs/api/core/user
  libs/api/core/user/src/lib/services/user.service.ts
Due: none

feat: update config
  init/docker-compose.yaml
  libs/api/common/config/src/lib/development-sample.ts
  pnpm-lock.yaml
  prisma/.env
Due: none

feat: update prisma
  prisma/schema.prisma
Due: prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma

feat: update seeds
  prisma/seed.ts
  prisma/seeds/gender.seed.ts
  prisma/seeds/user.seed.ts
Due: none

feat(shared): add libs/shared/data-access/src/lib/utils
  libs/shared/data-access/base/src/lib/utils/transform.util.ts
Due: none

feat(shared): update libs/shared/data-access/src/lib/user
  libs/shared/data-access/base/src/lib/dto/user.dto.ts
  libs/shared/data-access/user/src/lib/dto/user-param.dto.ts
  libs/shared/data-access/user/src/lib/dto/user-query.dto.ts
Due: none

feat(api): update libs/api/core/user
  libs/api/core/user/src/lib/controllers/user.controller.ts
  libs/api/core/user/src/lib/interfaces/user.interface.ts
  libs/api/core/user/src/lib/repositories/user.repository.ts
Due: none

feat(api): update user library (#3)
  libs/api/core/user/src/lib/controllers/user.controller.ts
  libs/api/core/user/src/lib/interfaces/user.interface.ts
  libs/api/core/user/src/lib/repositories/user.repository.ts
  libs/shared/data-access/base/src/lib/dto/user.dto.ts
  libs/shared/data-access/base/src/lib/utils/transform.util.ts
  libs/shared/data-access/user/src/lib/dto/user-param.dto.ts
  libs/shared/data-access/user/src/lib/dto/user-query.dto.ts
  prisma/schema.prisma
  prisma/seed.ts
  prisma/seeds/gender.seed.ts
  prisma/seeds/user.seed.ts
Due: prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma

feat: update package
  package.json
  pnpm-lock.yaml
Due: prettier --ignore-path ./.prettierignore --write

feat(api): update config
  libs/api/common/config/src/lib/config.interface.ts
  libs/api/common/config/src/lib/development-sample.ts
Due: none

feat(api): create libs/api/common/crypto
  libs/api/common/crypto/.eslintrc.json
  libs/api/common/crypto/README.md
  libs/api/common/crypto/jest.config.ts
  libs/api/common/crypto/project.json
  libs/api/common/crypto/src/index.ts
  libs/api/common/crypto/tsconfig.json
  libs/api/common/crypto/tsconfig.lib.json
  libs/api/common/crypto/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(api): update libs/api/common/crypto
  libs/api/common/crypto/src/index.ts
  libs/api/common/crypto/src/lib/crypto.module.ts
  libs/api/common/crypto/src/lib/services/crypto.service.spec.ts
  libs/api/common/crypto/src/lib/services/crypto.service.ts
Due: none

feat(api): create crypto library (#5)
  libs/api/common/config/src/lib/config.interface.ts
  libs/api/common/config/src/lib/development-sample.ts
  libs/api/common/crypto/.eslintrc.json
  libs/api/common/crypto/README.md
  libs/api/common/crypto/jest.config.ts
  libs/api/common/crypto/project.json
  libs/api/common/crypto/src/index.ts
  libs/api/common/crypto/src/lib/crypto.module.ts
  libs/api/common/crypto/src/lib/services/crypto.service.spec.ts
  libs/api/common/crypto/src/lib/services/crypto.service.ts
  libs/api/common/crypto/tsconfig.json
  libs/api/common/crypto/tsconfig.lib.json
  libs/api/common/crypto/tsconfig.spec.json
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(api): update libs/api/core/user
  libs/api/core/user/src/lib/services/user.service.ts
  libs/api/core/user/src/lib/user.module.ts
Due: none

feat(api): update user service
  libs/api/core/user/src/lib/services/user.service.ts
  libs/api/core/user/src/lib/user.module.ts
Due: none

feat(api): create auth library
  libs/api/feature/auth/.eslintrc.json
  libs/api/feature/auth/README.md
  libs/api/feature/auth/jest.config.ts
  libs/api/feature/auth/project.json
  libs/api/feature/auth/src/index.ts
  libs/api/feature/auth/tsconfig.json
  libs/api/feature/auth/tsconfig.lib.json
  libs/api/feature/auth/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(shared): create auth dto
  libs/shared/data-access/auth/.babelrc
  libs/shared/data-access/auth/.eslintrc.json
  libs/shared/data-access/auth/README.md
  libs/shared/data-access/auth/jest.config.ts
  libs/shared/data-access/auth/project.json
  libs/shared/data-access/auth/src/index.ts
  libs/shared/data-access/auth/tsconfig.json
  libs/shared/data-access/auth/tsconfig.lib.json
  libs/shared/data-access/auth/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(shared): update libs/shared/data-access/auth
  libs/shared/data-access/auth/src/index.ts
  libs/shared/data-access/auth/src/lib/dto/auth-body.dto.ts
  libs/shared/data-access/auth/src/lib/dto/auth-response.dto.ts
Due: none

feat(api): update app module
  apps/api/src/app/app.module.ts
Due: none

feat(api): update libs/api/feature/auth
  libs/api/feature/auth/src/index.ts
  libs/api/feature/auth/src/lib/auth.module.ts
  libs/api/feature/auth/src/lib/controllers/auth.controller.spec.ts
  libs/api/feature/auth/src/lib/controllers/auth.controller.ts
  libs/api/feature/auth/src/lib/interfaces/auth.interface.ts
  libs/api/feature/auth/src/lib/services/auth.service.spec.ts
  libs/api/feature/auth/src/lib/services/auth.service.ts
  libs/api/feature/auth/src/lib/strategies/jwt.strategy.ts
Due: none

feat(api): update libs/api/core/user
  libs/api/core/user/src/lib/controllers/user.controller.ts
Due: none

feat(api): create auth library (#9)
  apps/api/src/app/app.module.ts
  libs/api/common/config/src/lib/config.interface.ts
  libs/api/common/config/src/lib/development-sample.ts
  libs/api/core/user/src/lib/controllers/user.controller.ts
  libs/api/feature/auth/.eslintrc.json
  libs/api/feature/auth/README.md
  libs/api/feature/auth/jest.config.ts
  libs/api/feature/auth/project.json
  libs/api/feature/auth/src/index.ts
  libs/api/feature/auth/src/lib/auth.module.ts
  libs/api/feature/auth/src/lib/controllers/auth.controller.spec.ts
  libs/api/feature/auth/src/lib/controllers/auth.controller.ts
  libs/api/feature/auth/src/lib/interfaces/auth.interface.ts
  libs/api/feature/auth/src/lib/services/auth.service.spec.ts
  libs/api/feature/auth/src/lib/services/auth.service.ts
  libs/api/feature/auth/src/lib/strategies/jwt.strategy.ts
  libs/api/feature/auth/tsconfig.json
  libs/api/feature/auth/tsconfig.lib.json
  libs/api/feature/auth/tsconfig.spec.json
  libs/shared/data-access/auth/.babelrc
  libs/shared/data-access/auth/.eslintrc.json
  libs/shared/data-access/auth/README.md
  libs/shared/data-access/auth/jest.config.ts
  libs/shared/data-access/auth/project.json
  libs/shared/data-access/auth/src/index.ts
  libs/shared/data-access/auth/src/lib/dto/auth-body.dto.ts
  libs/shared/data-access/auth/src/lib/dto/auth-response.dto.ts
  libs/shared/data-access/auth/tsconfig.json
  libs/shared/data-access/auth/tsconfig.lib.json
  libs/shared/data-access/auth/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(api): create libs/api/common/authorization
  libs/api/common/authorization/.eslintrc.json
  libs/api/common/authorization/README.md
  libs/api/common/authorization/jest.config.ts
  libs/api/common/authorization/project.json
  libs/api/common/authorization/src/index.ts
  libs/api/common/authorization/tsconfig.json
  libs/api/common/authorization/tsconfig.lib.json
  libs/api/common/authorization/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(api): update libs/api/common/authorization
  libs/api/common/authorization/src/index.ts
  libs/api/common/authorization/src/lib/decorators/identity-owners.decorator.ts
  libs/api/common/authorization/src/lib/guards/identity-owners.guard.ts
  libs/api/common/authorization/src/lib/interfaces/identity-owners.interface.ts
Due: none

feat(api): update libs/api/core/userh
  libs/api/core/user/src/lib/controllers/user.controller.ts
Due: none

feat(api): create authorization library (#11)
  libs/api/common/authorization/.eslintrc.json
  libs/api/common/authorization/README.md
  libs/api/common/authorization/jest.config.ts
  libs/api/common/authorization/project.json
  libs/api/common/authorization/src/index.ts
  libs/api/common/authorization/src/lib/decorators/identity-owners.decorator.ts
  libs/api/common/authorization/src/lib/guards/identity-owners.guard.ts
  libs/api/common/authorization/src/lib/interfaces/identity-owners.interface.ts
  libs/api/common/authorization/tsconfig.json
  libs/api/common/authorization/tsconfig.lib.json
  libs/api/common/authorization/tsconfig.spec.json
  libs/api/core/user/src/lib/controllers/user.controller.ts
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(api): create libs/api/core/shop
  libs/api/core/shop/.eslintrc.json
  libs/api/core/shop/README.md
  libs/api/core/shop/jest.config.ts
  libs/api/core/shop/project.json
  libs/api/core/shop/src/index.ts
  libs/api/core/shop/tsconfig.json
  libs/api/core/shop/tsconfig.lib.json
  libs/api/core/shop/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(api): update libs/api/core/shop
  libs/api/core/shop/src/index.ts
  libs/api/core/shop/src/lib/controllers/shop.controller.spec.ts
  libs/api/core/shop/src/lib/controllers/shop.controller.ts
  libs/api/core/shop/src/lib/controllers/user-shop.controller.spec.ts
  libs/api/core/shop/src/lib/controllers/user-shop.controller.ts
  libs/api/core/shop/src/lib/interfaces/shop.interface.ts
  libs/api/core/shop/src/lib/repositories/shop.repository.ts
  libs/api/core/shop/src/lib/repositories/user-shop.repository.ts
  libs/api/core/shop/src/lib/services/shop.service.spec.ts
  libs/api/core/shop/src/lib/services/shop.service.ts
  libs/api/core/shop/src/lib/shop.module.ts
Due: none

feat(shared): update libs/shared/data-access/shop
  libs/shared/data-access/base/src/index.ts
  libs/shared/data-access/base/src/lib/dto/shop.dto.ts
  libs/shared/data-access/shop/src/index.ts
  libs/shared/data-access/shop/src/lib/dto/shop-param.dto.ts
  libs/shared/data-access/shop/src/lib/dto/shop-query.dto.ts
  libs/shared/data-access/shop/src/lib/dto/shop-response.dto.ts
  libs/shared/data-access/shop/src/lib/dto/user-shop-body.dto.ts
  libs/shared/data-access/shop/src/lib/dto/user-shop-param.dto.ts
Due: none

fix(api): update libs/api/core/user
  libs/api/core/user/src/lib/controllers/user.controller.spec.ts
Due: none

feat(shared): create libs/shared/data-access/shop
  libs/shared/data-access/shop/.babelrc
  libs/shared/data-access/shop/.eslintrc.json
  libs/shared/data-access/shop/README.md
  libs/shared/data-access/shop/jest.config.ts
  libs/shared/data-access/shop/project.json
  libs/shared/data-access/shop/src/index.ts
  libs/shared/data-access/shop/tsconfig.json
  libs/shared/data-access/shop/tsconfig.lib.json
  libs/shared/data-access/shop/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(api): create shop library (#13)
  apps/api/src/app/app.module.ts
  libs/api/core/shop/.eslintrc.json
  libs/api/core/shop/README.md
  libs/api/core/shop/jest.config.ts
  libs/api/core/shop/project.json
  libs/api/core/shop/src/index.ts
  libs/api/core/shop/src/lib/controllers/shop.controller.spec.ts
  libs/api/core/shop/src/lib/controllers/shop.controller.ts
  libs/api/core/shop/src/lib/controllers/user-shop.controller.spec.ts
  libs/api/core/shop/src/lib/controllers/user-shop.controller.ts
  libs/api/core/shop/src/lib/interfaces/shop.interface.ts
  libs/api/core/shop/src/lib/repositories/shop.repository.ts
  libs/api/core/shop/src/lib/repositories/user-shop.repository.ts
  libs/api/core/shop/src/lib/services/shop.service.spec.ts
  libs/api/core/shop/src/lib/services/shop.service.ts
  libs/api/core/shop/src/lib/shop.module.ts
  libs/api/core/shop/tsconfig.json
  libs/api/core/shop/tsconfig.lib.json
  libs/api/core/shop/tsconfig.spec.json
  libs/api/core/user/src/lib/controllers/user.controller.spec.ts
  libs/shared/data-access/base/src/index.ts
  libs/shared/data-access/base/src/lib/dto/shop.dto.ts
  libs/shared/data-access/shop/.babelrc
  libs/shared/data-access/shop/.eslintrc.json
  libs/shared/data-access/shop/README.md
  libs/shared/data-access/shop/jest.config.ts
  libs/shared/data-access/shop/project.json
  libs/shared/data-access/shop/src/index.ts
  libs/shared/data-access/shop/src/lib/dto/shop-param.dto.ts
  libs/shared/data-access/shop/src/lib/dto/shop-query.dto.ts
  libs/shared/data-access/shop/src/lib/dto/shop-response.dto.ts
  libs/shared/data-access/shop/src/lib/dto/user-shop-body.dto.ts
  libs/shared/data-access/shop/src/lib/dto/user-shop-param.dto.ts
  libs/shared/data-access/shop/tsconfig.json
  libs/shared/data-access/shop/tsconfig.lib.json
  libs/shared/data-access/shop/tsconfig.spec.json
  prisma/schema.prisma
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write, prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma

feat(shared): update libs/shared/data-access/shop
  libs/shared/data-access/base/src/lib/dto/shop.dto.ts
  libs/shared/data-access/base/src/lib/utils/transform.util.ts
  libs/shared/data-access/shop/src/lib/dto/shop-response.dto.ts
  libs/shared/data-access/shop/src/lib/dto/user-shop-body.dto.ts
Due: none

Path conditions:
  eslint --fix: any of: **/*.(js|jsx|ts|tsx)
  prettier --ignore-path ./.prettierignore --write: (any of: **/*.(js|jsx|ts|tsx)) or (any of: **/*.json)
  prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma: any of: **/*.prisma
