Repository xd88021as/nestjs-RESTful-API: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path ./.prettierignore --write, prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma

.lintstagedrc.json:

{
  "**/*.(js|jsx|ts|tsx)": ["eslint --fix", "prettier --ignore-path ./.prettierignore --write"],
  "**/*.json": ["prettier --ignore-path ./.prettierignore --write"],
  "**/*.prisma": [
    "prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma"
  ]
}

feat(api): update libs/api/core/shop
  libs/api/core/shop/src/lib/controllers/shop.controller.ts
  libs/api/core/shop/src/lib/controllers/user-shop.controller.ts
  libs/api/core/shop/src/lib/interfaces/shop.interface.ts
  libs/api/core/shop/src/lib/repositories/shop.repository.ts
Due: none

fix(shared): update libs/shared/data-access/utils
  libs/shared/data-access/base/src/lib/utils/transform.util.ts
Due: none

feat(api): update shop library (#15)
  libs/api/core/shop/src/lib/controllers/shop.controller.ts
  libs/api/core/shop/src/lib/controllers/user-shop.controller.ts
  libs/api/core/shop/src/lib/interfaces/shop.interface.ts
  libs/api/core/shop/src/lib/repositories/shop.repository.ts
  libs/shared/data-access/base/src/lib/dto/shop.dto.ts
  libs/shared/data-access/base/src/lib/utils/transform.util.ts
  libs/shared/data-access/shop/src/lib/dto/shop-response.dto.ts
  libs/shared/data-access/shop/src/lib/dto/user-shop-body.dto.ts
  prisma/schema.prisma
Due: prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma

feat(shared): create commodity
  libs/shared/data-access/commodity/.babelrc
  libs/shared/data-access/commodity/.eslintrc.json
  libs/shared/data-access/commodity/README.md
  libs/shared/data-access/commodity/jest.config.ts
  libs/shared/data-access/commodity/project.json
  libs/shared/data-access/commodity/src/index.ts
  libs/shared/data-access/commodity/tsconfig.json
  libs/shared/data-access/commodity/tsconfig.lib.json
  libs/shared/data-access/commodity/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat(api): update app module
  apps/api/src/app/app.module.ts
Due: none

feat(api): update libs/api/core/commodity
  libs/api/core/commodity/src/index.ts
  libs/api/core/commodity/src/lib/commodity.module.ts
  libs/api/core/commodity/src/lib/controllers/commodity.controller.spec.ts
  libs/api/core/commodity/src/lib/controllers/commodity.controller.ts
  libs/api/core/commodity/src/lib/controllers/shop-commodity.controller.spec.ts
  libs/api/core/commodity/src/lib/controllers/shop-commodity.controller.ts
  libs/api/core/commodity/src/lib/interfaces/commodity.interface.ts
  libs/api/core/commodity/src/lib/repositories/commodity.repository.ts
  libs/api/core/commodity/src/lib/services/commodity.service.spec.ts
  libs/api/core/commodity/src/lib/services/commodity.service.ts
Due: none

feat(shared): update libs/shared/data-access/commodity
  libs/shared/data-access/base/src/index.ts
  libs/shared/data-access/base/src/lib/dto/commodity.dto.ts
  libs/shared/data-access/commodity/src/index.ts
  libs/shared/data-access/commodity/src/lib/dto/commodity-param.dto.ts
  libs/shared/data-access/commodity/src/lib/dto/commodity-query.dto.ts
  libs/shared/data-access/commodity/src/lib/dto/commodity-response.dto.ts
  libs/shared/data-access/commodity/src/lib/dto/shop-commodity-body.dto.ts
  libs/shared/data-access/commodity/src/lib/dto/shop-commodity-param.dto.ts
Due: none

feat(api): create commodity library
  libs/api/core/commodity/.eslintrc.json
  libs/api/core/commodity/README.md
  libs/api/core/commodity/jest.config.ts
  libs/api/core/commodity/project.json
  libs/api/core/commodity/src/index.ts
  libs/api/core/commodity/tsconfig.json
  libs/api/core/commodity/tsconfig.lib.json
  libs/api/core/commodity/tsconfig.spec.json
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write

feat: update prisma
  prisma/schema.prisma
Due: prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma

feat(api): create commodity library (#17)
  apps/api/src/app/app.module.ts
  libs/api/core/commodity/.eslintrc.json
  libs/api/core/commodity/README.md
  libs/api/core/commodity/jest.config.ts
  libs/api/core/commodity/project.json
  libs/api/core/commodity/src/index.ts
  libs/api/core/commodity/src/lib/commodity.module.ts
  libs/api/core/commodity/src/lib/controllers/commodity.controller.spec.ts
  libs/api/core/commodity/src/lib/controllers/commodity.controller.ts
  libs/api/core/commodity/src/lib/controllers/shop-commodity.controller.spec.ts
  libs/api/core/commodity/src/lib/controllers/shop-commodity.controller.ts
  libs/api/core/commodity/src/lib/interfaces/commodity.interface.ts
  libs/api/core/commodity/src/lib/repositories/commodity.repository.ts
  libs/api/core/commodity/src/lib/services/commodity.service.spec.ts
  libs/api/core/commodity/src/lib/services/commodity.service.ts
  libs/api/core/commodity/tsconfig.json
  libs/api/core/commodity/tsconfig.lib.json
  libs/api/core/commodity/tsconfig.spec.json
  libs/shared/data-access/base/src/index.ts
  libs/shared/data-access/base/src/lib/dto/commodity.dto.ts
  libs/shared/data-access/commodity/.babelrc
  libs/shared/data-access/commodity/.eslintrc.json
  libs/shared/data-access/commodity/README.md
  libs/shared/data-access/commodity/jest.config.ts
  libs/shared/data-access/commodity/project.json
  libs/shared/data-access/commodity/src/index.ts
  libs/shared/data-access/commodity/src/lib/dto/commodity-param.dto.ts
  libs/shared/data-access/commodity/src/lib/dto/commodity-query.dto.ts
  libs/shared/data-access/commodity/src/lib/dto/commodity-response.dto.ts
  libs/shared/data-access/commodity/src/lib/dto/shop-commodity-body.dto.ts
  libs/shared/data-access/commodity/src/lib/dto/shop-commodity-param.dto.ts
  libs/shared/data-access/commodity/tsconfig.json
  libs/shared/data-access/commodity/tsconfig.lib.json
  libs/shared/data-access/commodity/tsconfig.spec.json
  prisma/schema.prisma
  tsconfig.base.json
  workspace.json
Due: prettier --ignore-path ./.prettierignore --write, prettier --ignore-path ./.prettierignore --write --plugin=prettier-plugin-prisma
